<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorAppRazen1</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="color: black;" href="" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" style="color: black;" aria-hidden="true"></span> New Order
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" style="color: black;"  href="pickup" >
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Pickup
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" style="color: black;" href="return">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Return
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" style="color: black;"  href="complete">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Completed
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
